<h2>Informacje o {{customer.firstname | uppercase}} {{customer.lastname | uppercase}}</h2><br>
<div><span>Id clienta: </span>{{customer.id}}</div>
<div><span>Numer telefonu: </span>{{customer.phoneNumber}}</div>
<div><span>Data wizyty: </span>{{customer.appointment | date:'MMM d, y, h:mm:ss a'}}</div>

<div>
    <label>Ustaw datę wizyty</label>
        <!-- <input [(ngModel)]="customer.appointment" placeholder="data wizyty"> -->
        <dl-date-time-picker
            startView="day"
            maxView="year"
            minView="minute"
            minuteStep="5"
            [(ngModel)]="customer.appointment"
            >
        </dl-date-time-picker>
 </div>