.selected {
    background-color: #CFD8DC !important;
    color: white;
}

.whole {
    
}

.customers {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 25em;
}

.customers li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height:  1.6em;
    border-radius: 4px;
}

.customers li.selected:hover {
    background-color: #BBD8DC !important;
    color:  white;
}

.customers li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}

.customers .text {
    position: relative;
    top: -3px;
}

.customers .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}
button {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
}

button:visited {
    color: #607D8B;
}

button:hover {
    color: #039BE5;
    background-color: #cfd8dc;
}

button.active {
    color: #039BE5;
}