h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}
h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

body, input[type="text"], button {
    color: #888;
    font-family: Cambria, Georgia;
}
/* Domyślnie */
nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
}

nav a:visited, a:link {
    color: #607D8B;
}

nav a:hover {
    color: #039BE5;
    background-color: #cfd8dc;
}

nav a.active {
    color: #039BE5;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}